body{
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.title{
    margin: 50px;
    font-size: 22px;
    
    white-space: nowrap;
}

.hero {
    position: relative;
}

.hero img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 22px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-weight: 800;
    
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.jigazou{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-bottom : 50px;
}

.jikosyokai-list{
    list-style: none;
    padding: 0;
}

.jikosyokai-list li{
    margin: 20px;
}

.name{
    font-size: 20px;
    font-weight: 500;
}

.span{
    font-weight: bold;
}

.portfolio-list{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.portfolio a{
    text-decoration: none;
    color: black;
    background-color: wheat;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #333;
}

.contact input,textarea{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
}

.contact button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

footer{
    text-align: center;
    color: white;
    background-color: #333333c9;
    padding: 5px;
}