.genre1 h2{
    color: black;
    font-size: 35px;
    padding: -10px -10px;
}

.tenpojyoho{
    padding-bottom: 30px;
}

.tenpojyoho h3{
    font-size: 25px;
    padding: 10px;
}
.tenpojyoho p{
    margin-top: -5px;
}

.tenpojyoho img{
    width: 700px;
}

.genre2 h2{
    color: black;
    font-size: 35px;
    padding: -10px -10px;
}

.tyuuigaki p{
    margin-top: -5px;
    padding-bottom: 100px;
}

@media(max-width:768px){
.tenpojyoho img{
    width: auto;
    height: auto;
}

.map iframe{
    width: auto;
    height: auto;
}

}